// server host and port that contains the backend
serviceIPPort = "{{.thisMachineIP}}:9090";
frontendIPPort = "{{.thisMachineIP}}:3000";
commandsEndpoint = "/setExampleTextMessage";
cmdurlStartDomefy = "/StartScriptApplication";
cmdurlStopDomefy = "/KillDomefy";
cmdurlStartCEF = "/StartCEF";
cmdurlKillCEF = "/KillCEF";
cmdurlHideCEF = "/HideCEF";
cmdurlShowCEF = "/ShowCEF";

 